<div class="container" ng-controller="ShowAllMessages" id="rootElement">
    <div class="header vspace05" id="messageListTitle">
        <div class="title">Messages</div>
        <span class="space"></span>
        <div ng-show="(messages|filter:unreadMessages).length" class="badge totalUnread">{{(messages|filter:unreadMessages).length}}</div>
        <div class="fa fa-signal connectionIcon" ng-class="{offline: online == false}"></div>
    </div>

	<div class="row messageControlPanel vspace10">

		<span class="col-xs-12 col-sm-4 vspace05">
			<select class="form-control messageFilterSelect" ng-model="messageFilter" ng-options="filter.display for filter in filters"></select>
		</span>

		<span class="xs-hidden col-sm-1"></span>

		<span class="btn-group col-xs-3 col-sm-1 col-sm-push-5 col-md-1 vspace05">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Options<div class="down-arrow"></div></button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="" onclick="selectAll()">Select all</a></li>
				<li><a href="" onclick="selectNone()">Select none</a></li>
				<li><a href="" ng-click="updateReadStatus(true)">Mark as read</a></li>
				<li><a href="" ng-click="updateReadStatus(false)">Mark as unread</a></li>
				<li class="divider"></li>
				<li><a href="" ng-click="delete()">Delete</a></li>
			</ul>
		</span>

		<span class="col-xs-9 col-sm-6 col-sm-pull-2 vspace05">
			<input class="form-control" type="text" id="searchBox" ng-model="searchText" placeholder="Search"></input>
		</span>

	</div>
	<div>
		<ul class="list-group">
			<li ng-repeat="message in messages | filter: searchFilter | orderBy:'created':true | filterMessageDisplay:messageFilter" class="row list-group-item message-list" ng-class="{unread: message.read == false}">


					<span class="col-xs-1 col-lg-1 messageGlyph">
						<input ng-model="message._selected" type="checkbox" value="{{ message.id }}" class="messageCheckbox"></input>
						<span class="glyphicon glyphicon-star star" ng-hide="message.followUp==false"></span>

					</span>

					<span>
						<a class="fillthespan" href="#msg/{{ message.id }}">
							<span class="col-xs-7 col-lg-4 ellipsize">

								<span ng-show="{{ getName(message).length }}" >{{ getName(message) }}</span>
								<span ng-hide="{{ getName(message).length }}" >(System message)</span>

								<span>({{message.messageCount}})</span>
							</span>

							<span class="col-xs-3 col-lg-2 col-lg-push-4 dateDisplay ellipsize"><span class="badge badge-info">{{ message.created | date : 'dd MMM yyyy' }}</span></span>
							<span class="col-xs-12 col-lg-5 col-lg-pull-4 ellipsize">{{ message.displayName }}</span>
						</a>
					</div>


				<div ng-show="dhis.busy" class="loader">
					<span class="glyphicon glyphicon-refresh btn-lg spin"></span> Loading...
				</div>
				<div ng-hide="dhis.busy" class="loader">
					<span class="btn-lg"></span>
				</div>
			</li>
		</ul>
	</div>

</div>

<script>

function selectAll(){
		$('.messageCheckbox').prop('checked', true);
}

function selectNone(){
		$('.messageCheckbox').prop('checked', false);
}

</script>