
<div class="conversationContainer">

	<div class="messageControlPanel">
        <a href="#all" type="button" class="btn btn-default">Back</a>
		<button ng-click="markUnread()" type="button" class="btn btn-default">Mark as unread</button>
		<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>


	</div>

	<div>
		<h2 class="messageTitle">{{ conversation.displayName }}</h2> 
		<button type="button" class="btn btn-primary" id="replyButton">Reply</button>
	</div>


	<div id="replyFields" class="replyFields">
		<textarea class="replyTextArea"></textarea><br>
		<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Send</button>
	</div>


<ul ng-repeat="message in conversationDetails.messages | orderBy:'created':true" class="multipleMessages">
	<li class="singleMessage">
		<div class="sender">{{message.sender.name}}</div>
		<div class="messageTime">{{message.created | date : 'HH:mm dd MMM yyyy'}}</div>
		<div ng-bind-html="message.text" class="messageContent"></div>
	</li>
</ul>







<script type="text/javascript">

$("#replyFields").hide();

$("#replyButton").click(function(){
	$("#replyFields").toggle(100);
});

</script>
