<div class="container" infinite-scroll='dhis.nextPage()' infinite-scroll-disabled='dhis.busy' infinite-scroll-distance='1'>
	<h1 ng-show="online" id="messages">Messages</h1>
	<h1 ng-hide="online" id="messages">Messages (offline)</h1>
	<a ng-click="offline()">Offline</a>
	<div ng-repeat="message in dhis.messages | orderBy:'created':true">
		<!-- <a href="#msg/{{ message.id }}" class="list-group-item message-list" ng-class="{unread: message.read == false}"> -->
		<div class="row list-group-item message-list" ng-class="{unread: message.read == false}">

			<span class="col-xs-1 col-lg-1">
				<span class="glyphicon star" ng-class="{'glyphicon-star-empty': message.followUp == false, 'glyphicon-star': message.followUp}"></span>

			</span>

			<span>
				<a class="fillthespan" href="#msg/{{ message.id }}">
					<span class="col-xs-7 col-lg-4">

						<span ng-show="{{ message.lastSenderFirstname.length }}" >{{ message.lastSenderFirstname }} {{ message.lastSenderSurname }}</span>
						<span ng-hide="{{ message.lastSenderFirstname.length }}" >(System message)</span>

						<span>({{message.messageCount}})</span>
					</span>

					<span class="col-xs-3 col-lg-2 col-lg-push-4">{{ message.created | date : 'dd MMM yyyy' }}</span>
					<span class="col-xs-12 col-lg-5 col-lg-pull-4">{{ message.displayName }}</span>
				</a>
			</span>


		</div>
		<!-- </a> -->
	</div>
	<div ng-show="dhis.busy" class="loader">
		<span class="glyphicon glyphicon-refresh btn-lg spin"></span> Loading...
	</div>
	<div ng-hide="dhis.busy" class="loader">
		<span class="btn-lg"></span>
	</div>
</div>


<!-- <span ng-show="{{ message.lastSenderFirstname.length }}" class="col-xs-6 col-md-3 col-lg-2 ellipsize">{{ message.lastSenderFirstname }} {{ message.lastSenderSurname }}</span>
<span ng-hide="{{ message.lastSenderFirstname.length }}" class="col-xs-6 col-md-3 col-lg-2 ellipsize">(System message)</span>

<span class="col-xs-3 col-md-2 col-lg-1 col-md-push-4 col-lg-push-6 badge">{{ message.created | date : 'dd MMM yyyy' }}</span>


<span class="col-xs-12 col-md-4 col-lg-3 col-md-pull-4 col-lg-pull-2 ellipsize">{{ message.displayName }}</span>
<span class="col-xs-12 col-md-9 col-lg-4 col-md-offset-3 col-lg-offset-0 col-lg-pull-2 ellipsize">{{ message.messages[0].name }}</span>
 -->