<div class="container">

    <div class="header">
        <h2 class="title">New message</h2>
    </div>

    <div class="newMessageFields" id="newMessageFields">
        <form ng-submit="send()">

            <div multi-select input-model="list_users" output-model="users" button-label="icon name" item-label="icon name maker" tick-property="selected" max-labels="5">
            </div>

            <input id="subject" type="text" ng-model="subject" ng-required="true" name="subject" placeholder="Subject">

            <textarea id="text" ng-model="text" class="replyTextArea" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-send"></span> Send</button>
        <div class="clearfix"></div>
        </form>
    </div>
</div>
