<div class="container">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-nav">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#all" type="button" class="navbar-btn btn btn-default">Back</a>
            </div>
        </div>
    </nav>

    <div class="header">
        <h2 class="title">New message</h2>
    </div>

    <div class="newMessageFields" id="newMessageFields">
        <form ng-submit="send()">

            <div multi-select input-model="userList" output-model="users" button-label="icon name" item-label="icon name maker" tick-property="selected" max-labels="5">
            </div>

            <input id="subject" type="text" ng-model="subject" ng-required="true" name="subject" class="form-control" placeholder="Subject">

            <textarea id="text" ng-model="text" class="replyTextArea form-control" placeholder="Message"></textarea>
            <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-send"></span> Send</button>
        <div class="clearfix"></div>
        </form>
    </div>
</div>
